<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/single_exp.css">
    <title>{{experience.name}} - Book of Mark</title>
</head>

<body>
    <div class="content">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account/username">Account</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li id="logout"><a href="/account/logout">Log Out</a></li>
                </ul>
            </nav>
        </header>
            <p>{{experience.likes}}</p><h1>{{experience.category}}
        </h1>
        <h2>{{experience.name}}</h2>
        <ul> <h3>Reviews:</h3>
        {{#each reviews}}
            <li><button onclick="location.href='/experience/review/{{_id}}/upvote/{{likes}}';" id = "upButton"><img src="/images/upvote.png" id = "upImage"></button>
                <button onclick="location.href='/experience/review/{{_id}}/downvote/{{likes}}';" id = "downButton"><img src="/images/upvote.png" id = "downImage"></button><h4>{{title}} {{likes}}</h4>
                <p>{{text}}</p>
            </li>
        {{/each}}</ul>
        <form action="http://localhost:3000/experience/{{experience._id}}/add_review" method="POST">
            <fieldset>
                <legend>Review This Experience</legend>
                <input type="text" name="id" id="id" value="{{id}}" style="display:none" readonly>
                <label for="review_title">Please Give your Review a Title: </label>
                <input type="text" name="review_title" id = "input" required>
                <label for="review_text">Describe Your Experience Here: </label>
                <input type="text" name="review_text" id = "input" required>
                <label for="rating">How Would you Rate your Experience? </label>
                <select name="rating" id = "input">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label for="review_date"> Date of Experience: </label>
                <input type="date" name="review_date" id = "input" required>
                <input type="submit" id="submit">
            </fieldset>
        </form>
    </div>
    <footer>
        <p>Book of Mark Copyright 2017</p>
    </footer>
</body>

</html>